      <div class="jumbotron" style="background-color: rgba(59, 59, 58, 0.1); display: flex;align-items: center;justify-content: center;flex-direction: column;">
        <img src="/colorimg.jfif" alt="here" />
        <h1 class="display-4 my-2">About this legend</h1>
        <p class="lead w-75 text-center">
          Dwight Kurt Schrute III (/ˈʃruːt/) is a fictional character in The
          Office portrayed by Rain Wilson. He was a salesman and the assistant
          to the regional manager[1] at the paper distribution company Dunder
          Mifflin, before his promotion to regional manager in the final season.
          He is also a bed-and-breakfast proprietor at Schrute Farms, a beet
          plantation owner, and the owner of the business park which Dunder
          Mifflin Scranton is located in. He is known for his lack of social
          skills and common sense, his love for martial arts and the justice
          system, and his office rivalry with fellow salesman Jim Halpert.
          Throughout the series, Dwight repeatedly attempts to become the
          Regional Manager of Dunder Mifflin Scranton, having at one point risen
          to the position of acting Branch Manager, but usually served as a
          third or fourth in command as Assistant to the Regional Manager.
        </p>
        <hr class="my-4" />
      </div>
    </div>
  </body>
</html>
