  
      <main
        role="main"
        class="inner cover vertical-center mb -5"
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 90vh;
        "
      >
        <img src="/homeing.jpg" alt="something" style="height: 50vh;" />
        <h1 class="cover-heading">Dwight Schrute</h1>
        <p class="lead text-center">
          Leader of men, conquerer of worlds. Number one salesman and the best
          number 2.
        </p>
        <p class="lead">
          <a
            href="https://getbootstrap.com/docs/4.0/examples/cover/#"
            class="btn btn-lg btn-secondary"
            >Learn more</a
          >
        </p>
      </main>
    </div>
  
