<div style="color: #615452; display:flex; justify-content:center; align-items:center; flex-direction:column">

<div class="card w-50 my-3">
  <div class="card-header">
    Became The Actual Assistant Manager
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Dwight proved himself to remove the 'to' from his title to officially become the assistant regional manager. No payrises or benefits were received as a result though.</p>
      <footer class="blockquote-footer">2006</footer>
    </blockquote>
  </div>
</div>
<div class="card w-50 my-3">
  <div class="card-header">
    Became Assistant TO The Manager
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Dwight quickly worked his way up to be the assistant TO the manager to Michael Scott</p>
      <footer class="blockquote-footer">2003 </footer>
    </blockquote>
  </div>
</div>

  
  <div class="card w-50 my-3">
  <div class="card-header">
    Joined Dunder Mifflin
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Joined the team in Scranton as a salesman</p>
      <footer class="blockquote-footer">2001</footer>
    </blockquote>
  </div>
</div>

  

  </div>